#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*For the Login Page*/
header {
  text-align: center;
  color: rgb(17, 179, 179);
  font-size: 20pt;
  font-weight: bold;
}

p {
  font-style: italic;
  font-size: 9pt;
  font-family: 'Cambria';
  font-weight: bold;
}

label {
  font-size: 11pt;
  font-weight: bold;
}

input {
  border-radius: 5px;
  border: 1px solid rgb(19, 114, 82);
  font-size: 11pt;
}

footer {
  font-size: 9pt;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}