body {
  background-color: rgb(161, 243, 216);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#root {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  font-family: "Trebuchet MS";
  width: 100%;
  height: 100%;
}

.cartoonWithCard {
  opacity: 0.7;
  height: 250px;
}

.bankLogo {
  border-radius: 28px 0 20px 0;
  margin: 0 auto;
  padding: 10px 0 0 0;
  width: 70px;
  height: 70px;
}

.bankName {
  text-align: center;
  color: rgb(18, 167, 167);
  text-shadow: 5px 0 2px rgb(28, 74, 92);
  font-size: 23pt;
  font-weight: bold;
  margin: 5px auto;
}

.bankTagline {
  font-style: italic;
  font-size: 9pt;
  font-family: "Cambria";
  font-weight: bold;
  padding-bottom: 15px;
}

footer {
  position: fixed;
  bottom: 0;
}

/*For input*/
label,
.displayCurrentEmail,
.userInfo {
  font-size: 10pt;
  font-weight: bold;
  padding-right: 5px;
}

input {
  border-radius: 5px;
  border: 1.5px solid rgb(19, 114, 82);
  font-size: 10pt;
  padding: 3px;
  margin: 1.5px;
  font-weight: bold;
  font-family: "Trebuchet MS";
  cursor: text;
}

/* Welcome Page*/
.welcomePageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.welcomeMessage {
  font-size: 20pt;
  padding: 10px;
}

.howToHelpMessage {
  margin: 10px 0 10px 0;
  padding: 20px 0 20px 0;
}

ul {
  list-style: none;
  padding: 0 16px 0 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  font-family: "Cambria";
  font-weight: bold;
  font-size: 10pt;
}

.welcomeOptions {
  margin-right: 15px;
  display: inline;
  border-radius: 4px;
  cursor: pointer;
}

/*For the Login Page*/
.loginForm {
  padding: 5px 5px 20px 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginButton,
.registerButton,
.dashboardTransactionsSubmitButton,
.saveChangesButton,
.backToDashboard,
.deposit,
.sendMoney,
.withdraw,
.transactions,
.manageAccountButton,
.addExpense,
.addExpenseSubmit,
.cancelExpenseSubmit,
.tab {
  border: transparent;
  border-radius: 7px 0 7px 0;
  background-color: rgb(24, 207, 198);
  font-size: 9.5pt;
  font-family: "Cambria";
  font-weight: bold;
  margin: 10px auto;
  padding: 5px;
  cursor: pointer;
}

.addExpenseSubmit,
.cancelExpenseSubmit {
  margin: 1px;
  border-radius: 7px 0 7px 0;
  border: transparent;
  background-color: rgb(188, 253, 231);
}

button {
  border: 1px solid white;
}

.loginError {
  margin: 0 10px 20px 10px;
  padding: 10px;
}

.registrationError,
.loginError,
.manageAccountError,
.dashboardTransactionsError,
.withdrawInstructionsNote {
  color: brown;
  font-weight: bold;
  font-size: 10pt;
  margin: 10px;
}

.loginLink,
.haveAccount {
  font-size: 10pt;
  font-family: "Cambria";
  font-weight: bold;
  margin: 0;
  padding: 10px 0 20px 0;
  cursor: pointer;
}

/*For the SignUp Page*/
.onlineBankEnrollment,
.accountBalanceText,
.accountNumberText,
.depositText,
.transactionsText,
.withdrawText,
.sendMoneyText,
.manageAccountText,
.expensesTitle,
.transactionsHistoryHeader {
  font-size: 15pt;
  font-style: italic;
  font-weight: bold;
  margin: 0;
  padding: 3px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

.completeRegBelow,
.setOnlineBankInfo {
  text-decoration-line: underline;
  font-weight: bold;
  text-align: center;
}

.beforeSubmitText {
  margin: 20px auto;
  padding: 10px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  font-size: 10pt;
  font-family: "Cambria";
  font-weight: bold;
}

/* Dashboard */

.accountActionsSection,
.expensesSection,
.manageAccountContainer,
.userInfoContainer,
.depositContainer,
.sendMoneyContainer,
.withdrawContainer,
.transactionsHistoryContainer {
  border-radius: 10px;
  border: 2px double rgb(19, 114, 82);
  margin: 35px 15px 15px 15px;
  padding: 9px;
  font-family: "Trebuchet MS";
  display: grid;
}

.accountBalanceText,
.accountNumberText {
  font-size: 12pt;
}

.manageAccountContainer {
  margin: 40px 15px 15px 15px;
  padding: 10px;
}

.depositContainer,
.sendMoneyContainer {
  padding: 7px 7px 15px 7px;
}

.accountActionsSection {
  grid-template-areas:
    "accountBalanceText . .  ."
    "accountBalance accountBalance deposit sendMoney"
    "accountNumberText . withdraw transactions"
    "accountNumber cardType . .";
  gap: 3px;
}

.welcome {
  display: flex;
  justify-content: center;
  font-size: 18pt;
  margin: 12px 12px 2px 12px;
}

.accountBalanceText {
  padding: 5px;
}

.accountBalanceText,
.accountNumberText {
  grid-area: accountBalanceText;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px 10px 5px 5px;
}

.accountBalance {
  grid-area: accountBalance;
  display: flex;
  justify-content: center;
  font-size: 18pt;
  margin: 10px 10px 10px 5px;
}

.accountNumberText {
  grid-area: accountNumberText;
}

.accountNumber,
.cardType {
  grid-area: accountNumber;
  display: flex;
  justify-content: left;
  font-size: 11pt;
  margin: 10px 10px 5px 10px;
}

.cardType {
  grid-area: cardType;
  justify-content: right;
  margin: 10px 10px 0 0;
}

/*buttons sa dashboard*/
.deposit,
.sendMoney,
.withdraw,
.transactions,
.addExpense {
  display: flex;
  border: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 207, 198);
}

.expensesTitle {
  margin: 10px;
}

#expenseItem,
#expenseItem {
  margin: 5px;
}

.even-row {
  background-color: rgb(255, 255, 255);
}

.odd-row {
  background-color: rgb(197, 245, 229);
}

.deposit {
  grid-area: deposit;
  padding: 10px;
}

.sendMoney {
  grid-area: sendMoney;
}

.withdraw {
  grid-area: withdraw;
  padding: 10px 4px 10px 4px;
}

.transactions {
  grid-area: transactions;
}

.addExpense {
  padding: 8px;
}

.backToDashboard {
  margin: 20px auto;
}

/*Deposit Page*/
.depositInstruction,
.sendMoneyInstruction {
  font-size: 12pt;
  margin: 5px 5px 0px 5px;
  padding: 2px;
}

#depositOption {
  font-family: "Trebuchet MS";
  font-size: 11pt;
  margin: 10px 15px 10px 15px;
}

.currentBalance {
  margin: 30px auto;
  font-size: 14pt;
  font-weight: normal;
}

.beforeDashboardTransactionsSubmitText {
  font-size: 11pt;
  margin: 30px 10px 10px 10px;
}

.saveChangesButton {
  margin: 20px 20px 10px 20px;
}

.westernUnionMainInstruction,
.withdrawMainInstruction {
  text-align: center;
  font-style: italic;
  font-size: 11pt;
}

.westernUnionInstructions,
.withdrawInstructions {
  text-align: justify;
  margin: 0 30px 0 10px;
}

.changeEmailText,
.changePwText,
.userInfoHeader {
  font-size: 13pt;
  text-align: left;
  border: none;
  font-size: 13pt;
  font-style: italic;
  font-weight: bold;
  padding: 4px;
}

/*Manage Account*/
.userInfoHeader {
  margin: 10px;
}
.userInfoContainer {
  margin: 30px 15px 15px 15px;
  padding: 0;
}

.userInfo {
  font-size: 10pt;
}

.changePwContainer {
  margin: 0 15px 0 15px;
  padding: 9px 9px 25px 9px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

.changeEmailContainer {
  margin: 0 15px 25px 15px;
  padding: 9px 9px 25px 9px;
  border-bottom: 3px solid white;
}

.displayCurrentEmail {
  color: rgb(19, 114, 82);
}

/*Withdraw*/
.withdrawHeader,
.transactionsDefaultContent {
  text-align: center;
  font-style: bold;
  font-style: italic;
  font-size: 11pt;
  margin: 0 20px 20px 20px;
  padding: 10px;
}

/*Transactions History*/
.transactionsDefaultContent {
  margin: 30px 20px 20px 20px;
}

.transactionsHistoryHeader {
  margin: 10px 10px 25px 10px;
}

.tab {
  background-color: azure;
  color: black;
}

.tab.active {
  background-color: rgb(24, 207, 198);
  color: black;
}

.transactionsTitleContainer {
  margin: 0 auto;
  padding: 0 auto;
  font-style: normal;
}

.transactionContainer {
  display: grid;
}

.transactionContainer,
.depositsTransactionsContainer,
.withdrawalTransactionsContainer,
.sendMoneyTransactionsContainer,
.expensesTransactionsContainer,
.itemList {
  font-size: 9.5pt;
}

.itemList {
  font-size: 10.5pt;
}

.editExpenseButton,
.deleteExpenseButton {
  align-items: end;
  cursor: pointer;
  margin: 1px;
  border-radius: 7px 0 7px 0;
  background-color: transparent;
}

.transactionId,
.forDepositOption,
.forDepositDate,
.forNameOfSender,
.forDepositAmount,
.forTransactionsStatus,
.forWithdrawOption,
.forWithdrawDate,
.forWithdrawAmount,
.forWithdrawStatus,
.forWithdrawStatusChange,
.forSendMoneyOption,
.forSendMoneyRecipientName,
.forSendMoneyRecipientAcccountNumber,
.forSendMoneyDate,
.forSendMoneyAmount,
.forSendMoneyStatus,
.forExpenseItem,
.forExpenseAmount,
.forExpenseDate,
.forTransactionAction {
  padding: 5px;
  border: 1px solid rgb(24, 207, 198);
}
